.filter-country {
  width: 318px;
  min-height: 888px;
  background-color: #e2e5f2;
  border: 1px solid #e2e5f2;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-top: 163px;
  margin-top: -146px;
}

.filter-country svg {
  margin-left: 25px;
  width: 15px;
  height: 10px;
}
