body {
  background-color: @bg-grey;
  min-height: 5377px;
}


@media (min-width: @tablet-width) {
  body {
    background-color: @bg-grey;
  }
}


@media (min-width: @desktop-width) {
  body {
    background-color: @bg-grey;
  }
}
