.plans {
  min-height: 456px;
  background-color: #dfe3f0;
  border: 1px solid #dfe3f0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.plans__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #1d2e5b;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.plans__list {
  width: 270px;
  min-height: 318px;
  margin-left: 25px;
  padding: 0;
  list-style: none;
}

.plans__items {
  width: 245px;
  min-height: 154px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding-left: 25px;

  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

.plans__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #1d2e5b;
}

.plans__input {
  border: none;
  color: #1d2e5b;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.plans__text-p {
  color: #cacaca;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 28px;
}
