.adress {
  position: relative;
  background-color: #ffd74b;
  border: 1px solid #ffd74b;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  min-height: 280px;
  margin-top: -50px;
  z-index: 46;
}

.adress__container {
  display: flex;
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
}

.adress__location {
  width: 45px;
  height: 39px;
  border-radius: 50px;
  background-color: #121936;
  margin-right: 16px;
}

.adress__text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #192144;
  margin-right: 24px;
}

.adress-button {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 56px;
  border: 3px solid #192144;
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #ffd74b;
  border-radius: 12px;
  color: #1d2e5b;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  &__text {
    margin: 0;
    width: 170px;
    padding-left: 15px;
  }

  &__icon {
    position: absolute;
    top: 19px;
    right: 24px;
  }
}
