.companion {
  position: relative;
  min-height: 1130px;
  background: url("../../../../img/back-companion.jpg") no-repeat;
  margin-top: -40px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: 52;

  @media (min-width: @tablet-width) {
    margin-top: -55px;
    background:
      url("../../../img/rogovaya-back-desktop@1x.png") 85% 15% no-repeat,
      url("../../../img/smolov-back-desktop@1x.png") 6% 33% no-repeat;
    background-size: 25%, 12%;
    background-color: #182044;
  }

  @media (min-width: @desktop-width) {
    min-height: 803px;
    margin-top: -90px;
    background:
      url("../../../img/rogovaya-back-desktop@1x.png") 189px 85% no-repeat,
      url("../../../img/smolov-back-desktop@1x.png") 546px 28% no-repeat;
    background-size: 286px, 10%;
    background-color: #182044;
    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }
}

.companion__title {
  color: #ff8d30;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 100px;
  margin-left: 50px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-left: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 178px;
    margin-left: 128px;
  }
}

.companion__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  margin-left: 50px;
  margin-right: 50px;

  & br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 75px;
    margin-right: 210px;

    & br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 132px;
    margin-top: 58px;
    margin-right: 825px;
  }
}

.companion__text-p {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin-left: 50px;

  & br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-left: 75px;
    margin-bottom: 65px;

    & br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 132px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.companion__container {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 619px;
    height: 483px;
    display: flex;
    margin-left: 75px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 631px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: -317px;
  }
}

.companion__person {
  min-height: 427px;
  width: 270px;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    width: 286px;
  }
}

.companion__photo {
  position: relative;
  min-height: 270px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  &--firsova {
    background: url("../../../../../../img/firsova-desktop@1x.jpg") no-repeat;
    background-size: cover;
  }

  &--demin {
    background: url("../../../../../../img/demin-desktop@1x.jpg") no-repeat;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    min-height: 285px;
  }

  @media (min-width: @desktop-width) {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    &--firsova {
      background: url("../../../../../../img/firsova-desktop@1x.jpg") no-repeat;
      background-size: 100%;
    }

    &--demin {
      background: url("../../../../../../img/demin-desktop@1x.jpg") no-repeat;
      background-size: 100%;
    }
  }
}

.companion__status {
  position: absolute;
  top: 33px;
  left: 35px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50px;

  &--green {
    background-color: @green;
  }

  &--red {
    background-color: @red;
  }

  @media (min-width: @desktop-width) {
    top: 40px;
    left: 46px;
    width: 7px;
    height: 7px;

    &--green {
      top: 42px;
      left: 56px;
      width: 7px;
      height: 7px;
    }
  }
}

.companion__level-small {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: 17px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 37px;
    width: 25px;
    border: 1px solid #cbced9;
  }
}

.companion__list {
  position: absolute;
  top: 265px;
  left: 10px;
  display: flex;
  list-style: none;
  margin: 0;
  z-index: 14;

  &--center {
    left: 45px;
  }

  @media (min-width: @tablet-width) {
    top: 280px;
    left: 10px;

    &--center {
      left: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    top: 273px;
    left: 31px;

    &--center {
      left: 59px;
    }
  }
}

.companion__item {
  margin-right: 19px;
}

.companion__name {
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  @media (min-width: @desktop-width) {
    margin-top: -6px;
    width: 286px;
    height: 196px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.companion__name-text {
  margin: 0;
  padding-top: 27px;
  padding-left: 55px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    padding-top: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 55px;
    padding-right: 53px;
    padding-top: 30px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
}

.companion-tag__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 47px;
  margin-right: 59px;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 21px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 19px;
    margin-left: 32px;
    margin-right: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &--second {
      margin-left: 52px;
    }
  }
}

.companion-tag__item {
  @media (min-width: @desktop-width) {
    margin-right: 6px;

    &--avocado {
      margin-left: 40px;
    }

    &--concers {
      margin-left: 22px;
    }
  }
}

.companion-button__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 65px;
  margin-right: 59px;
  padding: 0;
  padding-bottom: 15px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 78px;
  }
}

.companion-button__item {
  @media (min-width: @desktop-width) {
    margin-right: 5px;

    &:nth-child(2) {
      margin-right: 1px;
    }

    &:nth-child(3) {
      margin-right: -2px;
    }
  }
}

.companion-button__icon {
  border: transparent;
  background-color: #ffffff;
}

.companion-button__svg {
  fill: #d9d9d9;

  &--active {
    fill: #1d2e5b;
  }
}
