.directions {
  position: relative;
  min-height: 1050px;
  background-color: #edeff6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -60px;
  z-index: 54;

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 1050px;
    background:
      url("../../../img/flags-back@1x.png") 98% 26% no-repeat,
      url("../../../img/blue-back.png") 6% 45% no-repeat;
    background-color: #edeff6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -60px;
    z-index: 54;
  }

  @media (min-width: @desktop-width) {
    min-height: 780px;
    background:
      url(../../../img/flags-back@1x.png) 95% 19% no-repeat,
      url(../../../img/blue-back.png) 0% 14% no-repeat;
    background-color: #edeff6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -30px;
    z-index: 54;
  }
}

.directions__title {
  color: #ff8d30;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 133px;
  margin-left: 50px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: auto;
    margin-right: 315px;
    text-align: right;
    margin-top: 0;
    padding-top: 190px;
  }
}

.directions__text {
  color: #444444;
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  margin: 0;
  margin-left: 50px;
  margin-top: 22px;
  margin-bottom: 67px;
  margin-right: 76px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 114px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 856px;
    margin-right: 243px;
    margin-bottom: 0;
  }
}

.directions__list {
  min-height: 613px;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  list-style: none;

  &--second {
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    width: 267px;
    min-height: 90px;
    padding: 0;
    margin-left: 0;
    list-style: none;
    border-radius: 12px;
    margin-top: -10px;
    background-color: #ffffff;
    color: #000000;
  }

  @media (min-width: @tablet-width) {
    margin-right: 0;
    min-height: 440px;
    margin-left: 76px;
    margin-bottom: 47px;

    &--second {
      margin-top: 0;
      width: 433px;
      min-height: 140px;
      margin-left: 0;
      border-radius: 0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -225px;

    &--second {
      margin-top: 0;
    }
  }
}

.directions__item {
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 10px;

  &--second {
    box-sizing: border-box;
    width: 197px;
    height: 18px;
    margin-top: 28px;
    padding-left: 25px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;

    &:nth-child(2) {
      width: 65px;
      text-align: right;
      padding: 0;
      margin-top: 26px;
      font-size: 16px;
      line-height: 30px;
      font-weight: 500;
      color: #d2d2d2;
    }

    &:nth-child(2)::before {
      content: "";
      position: absolute;
      top: 35px;
      right: 51px;
      width: 11px;
      height: 11px;
      background-image: url("../../../../../../../../img/user.svg");
      background-repeat: no-repeat;
      background-color: #ffffff;
      opacity: 0.1;
    }

    &:nth-child(3) {
      margin-top: -10px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      color: #d2d2d2;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 619px;
    height: 140px;

    &--second {
      height: 18px;

      &:nth-child(2) {
        margin-left: 50px;
        font-size: 20px;
      }

      &:nth-child(2)::before {
        top: 96px;
        right: 0;
        left: 20px;
        width: 20px;
        height: 20px;
      }

      &:nth-child(3) {
        margin-top: -77px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 559px;

    &--second {
      width: 373px;
    }
  }
}

.directions__container {
  height: 110px;
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &--thailand {
    background: url("../../../../../../img/thailand-mobile@1x.jpg") 90% 0% no-repeat;
  }

  &--france {
    background: url("../../../../../../img/france-mobile@1x.jpg") 90% 0% no-repeat;
  }

  &--czech {
    background: url("../../../../../../img/czech-mobile@1x.jpg") 90% 0% no-repeat;
  }

  @media (min-width: @tablet-width) {
    order: 2;
    width: 186px;
    height: 140px;
    border-top-left-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    &--thailand {
      background: url("../../../../../../img/thailand-desktop@1x.jpg") no-repeat;
    }

    &--france {
      background: url("../../../../../../img/france-desktop@1x.jpg") no-repeat;
    }

    &--czech {
      background: url("../../../../../../img/czech-desktop@1x.jpg") no-repeat;
    }
  }
}

.directions__flag {
  position: absolute;
  top: 88px;
  left: 25px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
    top: 15px;
    left: -37px;
  }
}
