.facilities {
  position: relative;
  min-width: 318px;
  min-height: 631px;
  background: url("../../../../img/about-mobile.png") no-repeat;
  border: 1px solid #192144;
  border-bottom-right-radius: 33px;
  border-bottom-left-radius: 33px;
  z-index: 56;
}

.facilities__list {
  min-width: 270px;
  min-height: 320px;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -84px;
}

.facilities__list-item {
  min-width: 268px;
  min-height: 160px;
  border: 1px solid #ff8d30;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ff8d30;
  color: #161c35;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  &:nth-child(1)::after {
    content: "1";
    color: #ffffff;
    position: relative;
    top: -40px;
    left: 237px;
  }

  &:nth-child(2) {
    background-color: #ffa530;
    margin-top: -80px;
    border: 1px solid #ffa530;
  }

  &:nth-child(2)::after {
    content: "2";
    color: #ffffff;
    position: relative;
    top: -40px;
    left: 237px;
  }

  &:nth-child(3)::after {
    content: "3";
    color: #ffffff;
    position: relative;
    top: -40px;
    left: 237px;
  }

  &:nth-child(4)::after {
    content: "4";
    color: #ffffff;
    position: relative;
    top: -40px;
    left: 237px;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
    min-height: 146px;
    margin-top: -80px;
    border: 1px solid #ffbd30;
  }

  &:nth-child(4) {
    background-color: #ffd74b;
    border: 1px solid #ffd74b;
    min-height: 80px;
    margin-top: -74px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  p {
    padding-left: 25px;
    padding-right: 100px;
    padding-top: 23px;
    margin: 0;
  }
}

.facilities__service {
  color: #c06f33;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 72px;
  margin-left: 50px;
}

.facilities__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  line-height: 22px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-top: 23px;
  margin-right: 59px;
}

.facilities__text-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
}
