.map {
  position: relative;
  width: 320px;
  height: 546px;
  margin-top: -20px;
  background: url("../../../img/map-mobile@1x.jpg") no-repeat;
  z-index: 44;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../../../img/map-mobile@2x.jpg") no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 546px;
    margin-top: -30px;
    background: url("../../../img/map-tablet@1x.jpg") no-repeat;
    z-index: 44;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../../../img/map-tablet@2x.jpg") no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 546px;
    background: url("../../../img/map-desktop@1x.jpg") no-repeat;
    z-index: 44;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../../../img/map-desktop@2x.jpg") no-repeat;
    }
  }
}
