.reviews {
  background-color: #161c35;
  height: 285px;
  box-sizing: border-box;
}

.reviews__block {
  min-height: 120px;
  padding-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.reviews__block-p {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  margin-left: 25px;
  margin-right: 95px;
  color: #ffffff;
}

.reviews__block-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 75px;
  color: #ffffff;
}
