.candidate {
  width: 270px;
  min-height: 415px;
  margin-left: 25px;
  background-color: #ffffff;
  margin-bottom: 17px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 688px;
    min-height: 332px;
    margin-left: 40px;
  }

  @media (min-width: @tablet-width) {
    width: 950px;
    min-height: 332px;
    margin-left: 61px;
  }
}

.photo-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-left: 17px;
  margin-top: 12px;

  &--firsova {
    background: url("../../img/firsova-mobile@1x.jpg");
  }

  &--demin {
    background: url("../../../../img/demin-mobile@1x.jpg");
  }

  &--rogovaya {
    background: url("../../../../img/rogovaya-mobile@1x.jpg");
  }

  &--smolov {
    background: url("../../../../img/smolov-mobile@1x.jpg");
  }
}

.circle {
  width: 31px;
  height: 31px;
  border-radius: 50px;
  background-color: #f9eaea;
  text-align: center;
  position: relative;
  margin-top: 52px;
  margin-left: -21px;

  &--pink {
    svg {
      width: 13px;
      height: 11px;
      position: absolute;
      top: 11px;
      left: 9px;
    }
  }

  &--blue {
    svg {
      width: 13px;
      height: 11px;
      position: absolute;
      top: 11px;
      left: 9px;
    }
  }
}

.candidate__subscribers {
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 50px;
  width: 90px;
  color: #1d2e5b;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.candidate__text {
  margin-left: 103px;
  margin-top: -24px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.candidate__status {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50px;
  position: absolute;
  top: 21px;
  right: 23px;

  &--green {
    background-color: @green;
  }

  &--red {
    background-color: @red;
  }
}

.candidate-tag {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 40px;
  margin: 0;
  padding-left: 24px;
  padding-top: 2px;
}

.candidate-tag__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 5px;
}

.candidate__fieldset {
  width: 270px;
  min-height: 120px;
  border: none;
  margin-left: 25px;
  border-top: 1px solid #edeff6;
  margin-top: 9px;
}

.candidate__legend {
  margin-left: -11px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.candidate__list {
  list-style: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1d2e5b;
}

.candidate-country__list {
  margin-top: -4px;
  margin-left: -13px;

  &:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 13px;
  }
}
