.filter-country {
  width: 318px;
  min-height: 40px;
  background-color: #e2e5f2;
  border: 1px solid #e2e5f2;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-top: 50px;
  margin-top: -40px;

  &__svg {
    margin-left: 25px;
    width: 15px;
    height: 10px;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    min-height: 2810px;
  }
}

.filter-country__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #192144;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: -19px;
  margin-bottom: 15px;
}

.modal-filter {
  margin-top: 25px;
}

.modal-none {
  display: none;
}

.dots {
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-top: -32px;
  cursor: pointer;
  padding: 7px;

  &:hover {
    fill: #696f8a;
  }

  &:focus {
    fill: #a5aabd;
  }
}

.dots-none {
  display: none;
}

.catalog-close-top {
  width: 12px;
  height: 12px;
  display: block;
  margin-left: auto;
  margin-right: 18px;
  margin-top: -30px;
  cursor: pointer;
}

.catalog-close-none {
  display: none;
}

.modal-filter__list {
  min-width: 69px;
  min-height: 93px;
  list-style: none;
  margin: 0;
  padding-left: 50px;
}

.modal-filter__item {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a5aabd;
  cursor: pointer;
  border: transparent;
  background: transparent;
  padding: 0;

  &:hover {
    color: #696f8a;
  }

  &:focus {
    color: #192144;
  }
}

.alphabet {
  margin-left: 50px;
  border-spacing: 0;
  border-collapse: collapse;
}

.alphabet__td {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  color: #1d2e5b;
}

.alphabet__list {
  min-height: 239px;
  padding-left: 50px;
  list-style: none;
}

.alphabet__item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #444444;
}
