.new-plans {
  position: relative;
  min-height: 2410px;
  background-color: #d4d9eb;
  border: 1px solid #d4d9eb;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -25px;
  z-index: 42;

  @media (min-width: @tablet-width) {
    min-height: 2800px;
    background-color: #d4d9eb;
    border: 1px solid #d4d9eb;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -10px;
  }

  @media (min-width: @desktop-width) {
    min-height: 3571px;
    background-color: #d4d9eb;
    border: 1px solid #d4d9eb;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -10px;
  }
}

.new-plans__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #1d2e5b;
  margin-left: 25px;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    color: #1d2e5b;
    margin-left: 25px;
    margin-top: 30px;
  }
}

.new-plans__dots {
  display: block;
  margin-left: auto;
  margin-right: 43px;
  margin-top: -34px;
  margin-bottom: 40px;
}

.step {
  position: relative;
  width: 270px;
  min-height: 745px;
  background-color: #ffffff;
  margin-left: 25px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 619px;
    min-height: 795px;
    background-color: #ffffff;
    margin-left: 75px;
    margin-bottom: 40px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1320px;
    min-height: 900px;
    background-color: #ffffff;
    margin-left: 60px;
    margin-bottom: 40px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding-top: 25px;

    &:nth-child(3) {
      margin-bottom: 30px;
    }
  }
}

.step--two {
  min-height: 550px;
}

.step--three {
  position: relative;
  min-height: 845px;
}

.step__text-p {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #1d2e5b;
  margin: 0;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #1d2e5b;
    margin: 0;
    margin-left: 25px;
  }
}

.step__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.step-one__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1d2e5b;
  margin-left: 25px;
  text-transform: uppercase;

  &::after {
    content: "чел.";
    margin-left: 57px;
    color: #cdcfd6;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
}

.step-one__label--two {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1d2e5b;
  margin-left: 25px;
  text-transform: uppercase;

  &::after {
    content: "дн.";
    margin-left: 82px;
    color: #cdcfd6;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
}

.step-one__input {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 43px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 21px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cbced9;
}

.minus {
  position: absolute;
  width: 40px;
  height: 41px;
  border-radius: 5px;
  border: transparent;
  background-color: #ffffff;
  cursor: pointer;

  &::after {
    content: "";
    top: 21px;
    left: 13px;
    position: absolute;
    width: 14px;
    border: 1px solid #cfcfcf;
    transform: rotate(0deg);
  }

  &__one {
    position: absolute;
    top: 230px;
    left: 26px;
  }

  &__two {
    position: absolute;
    top: 316px;
    left: 26px;
  }
}

.plus {
  position: absolute;
  width: 40px;
  height: 41px;
  border-radius: 5px;
  border: transparent;
  background-color: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    top: 21px;
    left: 13px;
    position: absolute;
    width: 14px;
    border: 1px solid #cfcfcf;
    transform: rotate(0deg);
  }

  &::after {
    content: "";
    top: 21px;
    left: 13px;
    position: absolute;
    width: 14px;
    border: 1px solid #cfcfcf;
    transform: rotate(90deg);
  }

  &__one {
    position: absolute;
    top: 230px;
    left: 204px;
  }

  &__two {
    position: absolute;
    top: 316px;
    left: 204px;
  }
}

.kids__label {
  margin-left: 65px;
}

.kids + label::before {
  content: "";
  position: absolute;
  top: 375px;
  left: 25px;
  width: 25px;
  height: 25px;
  border: 1px solid #cbced9;
  border-radius: 5px;
  cursor: pointer;
}

.kids:checked + label::before {
  background: url("../../../img/tick.svg") 7px 6px no-repeat;
  background-size: 50%;
}

.month {
  width: 220px;
  height: 44px;
  margin-top: 26px;
  margin-left: 25px;
  margin-bottom: 25px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  border: transparent;
  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #1d2e5b;
}

.triangle {
  position: absolute;
  border: transparent;
  background-color: #ffffff;
  cursor: pointer;

  &--left {
    margin-left: -213px;
    margin-top: 37px;
  }

  &--right {
    margin-left: -25px;
    margin-top: 37px;
  }

  &__svg {
    fill: #bbbfcc;
  }
}

.calendar {
  width: 221px;
  margin-left: 25px;
  margin-bottom: 22px;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;

  &__td {
    border: 1px solid #cbced9;
    color: #c7c7c7;

    &--active {
      color: #ffffff;
      background-color: #1d2e5b;
    }

    &-border {
      border-right: 2px solid #ff5c23;
      border-bottom: 2px solid #ff5c23;

      &--right {
        border-right: 2px solid #ff5c23;
      }

      &--bottom {
        border-bottom: 2px solid #ff5c23;
      }
    }

    &--grey {
      background-color: #edeff6;
      color: #444444;
    }
  }
}

.holiday {
  color: #ff5c23;
}

.next-step {
  width: 230px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: transparent;
  background-color: #ffd74b;
  color: #161c35;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.countries {
  position: relative;
  width: 168px;
  height: 40px;
  border: 1px solid #cbced9;
  margin-left: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  z-index: 8;

  &__second {
    width: 220px;

    &--grey {
      background-color: #edeff6;
      border: 1px solid #edeff6;
    }
  }

  &--step-three {
    border: none;
    text-transform: none;
  }
}

.countries__down {
  position: relative;
  border: transparent;
  background-color: #ffffff;
  margin-left: -35px;
  cursor: pointer;
  z-index: 8;
}

.countries__button {
  fill: #c6c5c5;
}

.countries-window {
  width: 51px;
  height: 38px;
  border: 1px solid #cbced9;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 25px;
  margin-top: -60px;
  margin-bottom: 20px;

  &--step-three {
    border: none;
    margin-bottom: 5px;
  }
}

.countries-flag {
  width: 56px;
  height: 45px;
  margin-left: 2px;
  margin-top: 6px;
}

.countries-circle {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: 74px;
  margin-top: 7px;
  margin-bottom: 54px;
  z-index: 10;

  &--blue {
    background-color: #1d2e5b;
  }

  &--grey {
    background-color: #ffffff;
    border: 1px solid #cdd0db;
  }

  &--background {
    background-color: #edeff6;
    margin-top: -44px;
  }
}

.step-two-plus {
  border: transparent;
  background-color: #edeff6;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: 35px;
  margin-top: -68px;
  margin-bottom: 40px;
  cursor: pointer;
  z-index: 10;
}

.step-two-svg {
  fill: #c2c4c9;
}

.countries-close {
  display: block;
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  background-color: #edeff6;
  border: transparent;
  margin-left: auto;
  margin-right: 15px;
  margin-top: -72px;
  cursor: pointer;
  z-index: 10;

  &__svg {
    fill: #abacb2;
    padding-bottom: 1px;
  }
}

.step-back {
  margin-left: 80px;
  margin-top: 20px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #161c35;
  text-transform: uppercase;
}

.step-textarea {
  position: absolute;
  top: 225px;
  margin-left: 25px;
  border-radius: 3px;
  color: #c7c7c7;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.step-textarea-second {
  margin-left: 25px;
  padding-left: 25px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.circle-step {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #161c35;
  margin-left: 19px;

  &--up {
    margin-top: -25px;
  }

  &--down {
    margin-top: -4px;
    margin-bottom: -23px;
  }
}

.horizontal-line-up {
  width: 15px;
  height: 2px;
  background-color: #161c35;
  margin-top: -4px;
  margin-left: 10px;
}

.vertical-line-step {
  width: 2px;
  height: 281px;
  background-color: #161c35;
  margin-left: 10px;
}

.horizontal-line-down {
  width: 15px;
  height: 2px;
  background-color: #161c35;
  margin-top: -2px;
  margin-left: 10px;
}

.button-step {
  width: 230px;
  height: 40px;
  background-color: #ffd74b;
  color: #161c35;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: transparent;
  border-radius: 25px;
}
