.new-plans {
  position: relative;
  min-height: 2410px;
  background-color: #d4d9eb;
  border: 1px solid #d4d9eb;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -25px;
  z-index: 42;

  @media (min-width: @tablet-width) {
    min-height: 3092px;
    background-color: #d4d9eb;
    border: 1px solid #d4d9eb;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -25px;
  }

  @media (min-width: @desktop-width) {
    min-height: 3325px;
    background-color: #d4d9eb;
    border: 1px solid #d4d9eb;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -10px;
  }
}

.new-plans__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #1d2e5b;
  margin-left: 25px;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    color: #1d2e5b;
    margin-left: 25px;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 130px;
  }
}

.new-plans__dots {
  display: flex;
  position: absolute;
  top: 40px;
  right: 30px;

  &--two {
    display: none;
  }

  &--three {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    top: 167px;
    right: 201px;
    z-index: 55;

    &--two {
      display: block;
      top: 70px;
    }

    &--three {
      display: block;
      top: 70px;
    }
  }
}

.new-plans__ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #bbbfcc;
  margin-right: 5px;

  &--active {
    background-color: #1d2e5b;
  }

  &__text {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;

    &__text {
      display: block;
      padding: 0;
      margin: 0;
      margin-top: -8px;
      font-size: 20px;
      line-height: 14px;
      font-weight: 400;
    }
  }
}

.step {
  position: relative;
  width: 270px;
  min-height: 745px;
  background-color: #ffffff;
  margin-left: 25px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 619px;
    min-height: 795px;
    background-color: #ffffff;
    margin-left: 75px;
    margin-bottom: 40px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1320px;
    min-height: 900px;
    background-color: #ffffff;
    margin-left: 60px;
    margin-bottom: 40px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding-top: 25px;

    &:nth-child(3) {
      margin-bottom: 30px;
    }
  }
}

.step--two {
  position: relative;
  min-height: 550px;
}

.step--three {
  position: relative;
  min-height: 845px;

  @media (min-width: @tablet-width) {
    min-height: 785px;
    margin-bottom: 63px;
  }
}

.step__text-p {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #1d2e5b;
  margin: 0;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
  }
}

.step__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  margin-left: 25px;
  margin-right: 25px;

  &--two {
    border-bottom: none;
  }

  &--three {
    padding: 0;
  }

  & br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-left: 45px;
    margin-right: 72px;

    &--two {
      width: 535px;
      height: 70px;
      border-bottom: 1px solid #d6d9e6;
      box-sizing: border-box;
      padding-right: 120px;
    }

    &--three {
      padding: 0;
      padding-right: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    margin-bottom: 50px;

    &--two {
      width: 1001px;
      padding-right: 45%;
    }

    &--three {
      padding: 0;
      padding-right: 39%;
    }

    & br {
      display: block;
    }
  }
}

.step__line {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    width: 1px;
    height: 329px;
    background-color: #d6d9e6;
    margin-left: 460px;
    margin-top: -20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70%;
    height: 530px;
    margin-top: -50px;
  }
}

.new-plans__container {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d6d9e6;
    padding-top: 20px;
    margin-left: 45px;
    margin-right: 45px;


    &--second {
      border-bottom: 1px solid #d6d9e6;
      margin-top: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    margin-right: 160px;

    &--second {
      border-top: none;
      border-bottom: none;
      margin-top: -60px;
    }
  }
}

.step-one__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1d2e5b;
  margin-left: 25px;
  text-transform: uppercase;

  &::after {
    content: "чел.";
    margin-left: 57px;
    color: #cdcfd6;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
    font-size: 20px;
    line-height: 18px;

    &::after {
      margin-left: 305px;
      font-size: 20px;
      line-height: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 58px;

    &::after {
      margin-left: 238px;
      color: #1d2e5b;
    }
  }
}

.step-one__label--two {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #1d2e5b;
  margin-left: 25px;
  text-transform: uppercase;

  &::after {
    content: "дн.";
    margin-left: 82px;
    color: #cdcfd6;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
    font-size: 20px;
    line-height: 18px;

    &::after {
      font-size: 20px;
      line-height: 18px;
      margin-left: 335px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      margin-left: 266px;
      color: #1d2e5b;
    }
  }
}

.step-one__input {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 43px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 21px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cbced9;

  @media (min-width: @tablet-width) {
    width: 530px;
    height: 70px;
    margin-top: 20px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
    margin-left: 190px;
    top: -62px;
  }
}

.minus {
  position: absolute;
  width: 40px;
  height: 41px;
  border-radius: 5px;
  border: transparent;
  background-color: #ffffff;
  cursor: pointer;

  &::after {
    content: "";
    top: 21px;
    left: 13px;
    position: absolute;
    width: 14px;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
    transform: rotate(0deg);
  }

  &__one {
    position: absolute;
    top: 228px;
    left: 26px;
  }

  &__two {
    position: absolute;
    top: 314px;
    left: 26px;
  }

  @media (min-width: @tablet-width) {
    &__one {
      position: absolute;
      top: 70px;
      left: 8px;
    }

    &__two {
      position: absolute;
      top: 70px;
      left: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    &__one {
      position: absolute;
      top: 67px;
      left: 194px;
    }

    &__two {
      position: absolute;
      top: 10px;
      left: 194px;
    }
  }
}

.plus {
  position: absolute;
  width: 40px;
  height: 41px;
  border-radius: 5px;
  border: transparent;
  background-color: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    top: 21px;
    left: 13px;
    position: absolute;
    width: 14px;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
    transform: rotate(0deg);
  }

  &::after {
    content: "";
    top: 21px;
    left: 13px;
    position: absolute;
    width: 14px;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
    transform: rotate(90deg);
  }

  &__one {
    position: absolute;
    top: 228px;
    left: 204px;
  }

  &__two {
    position: absolute;
    top: 314px;
    left: 204px;
  }

  @media (min-width: @tablet-width) {
    &__one {
      position: absolute;
      top: 70px;
      left: 475px;
    }

    &__two {
      position: absolute;
      top: 70px;
      left: 475px;
    }
  }

  @media (min-width: @desktop-width) {
    &__one {
      position: absolute;
      top: 68px;
      left: 325px;
    }

    &__two {
      position: absolute;
      top: 10px;
      left: 325px;
    }
  }
}

.kids__label {
  margin-left: 65px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 340px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    color: #1d2e5b;
    text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    top: 262px;
    right: 165px;
  }
}

.kids + label::before {
  content: "";
  position: absolute;
  top: 375px;
  left: 25px;
  width: 25px;
  height: 25px;
  border: 1px solid #cbced9;
  border-radius: 5px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 0;
    left: -35px;
  }
}

.kids:checked + label::before {
  background: url("../../../img/tick.svg") 7px 6px no-repeat;
  background-size: 50%;
}

.month {
  width: 220px;
  height: 44px;
  margin-top: 26px;
  margin-left: 25px;
  margin-bottom: 25px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  border: transparent;
  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    width: 534px;
    height: 86px;
    margin-left: 45px;
    font-size: 36px;
    line-height: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    width: 1001px;
  }
}

.triangle {
  position: absolute;
  border: transparent;
  background-color: #ffffff;
  cursor: pointer;

  &--left {
    margin-left: -213px;
    margin-top: 37px;
  }

  &--right {
    margin-left: -25px;
    margin-top: 37px;
  }

  &__svg {
    fill: #bbbfcc;
  }

  @media (min-width: @tablet-width) {
    &--left {
      margin-left: -530px;
      margin-top: 50px;
    }

    &--right {
      margin-top: 50px;
    }

    &__svg {
      width: 19px;
      height: 34px;
    }
  }

  @media (min-width: @desktop-width) {
    &--left {
      margin-left: -76%;
    }
  }
}

.calendar {
  width: 221px;
  margin-left: 25px;
  margin-bottom: 22px;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;

  &__th {
    &--holiday {
      color: #ff5c23;
    }
  }

  &__td {
    border: 1px solid #cbced9;
    color: #c7c7c7;

    &--active {
      color: #ffffff;
      background-color: #1d2e5b;
    }

    &-border {
      border-right: 2px solid #ff5c23;
      border-bottom: 2px solid #ff5c23;

      &--right {
        border-right: 2px solid #ff5c23;
      }

      &--bottom {
        border-bottom: 2px solid #ff5c23;
      }
    }

    &--grey {
      background-color: #edeff6;
      color: #444444;
    }
  }

  @media (min-width: @tablet-width) {
    width: auto;
    margin-left: 45px;

    &__td {
      width: 73px;
      height: 73px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;

    &__td {
      width: 140px;
      height: 72px;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      box-sizing: border-box;
      text-align: left;
      padding: 0;
      padding-left: 15px;

      &-border {
        border-right: 4px solid #ff5c23;
        border-bottom: 4px solid #ff5c23;

        &--right {
          border-right: 4px solid #ff5c23;
        }

        &--bottom {
          border-bottom: 4px solid #ff5c23;
        }
      }

      &--march {
        box-sizing: border-box;
        text-align: left;
        padding-left: 15px;
      }
    }
  }
}

.week {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.week-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: contents;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }
}

.number {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin-top: -15px;

    &--grey {
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: #444444;
    }
  }
}

.calendar__td-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0;
    margin: 0;

    &--march {
      margin-left: 25px;
      margin-top: -31px;
      margin-bottom: 24px;
    }
  }
}

.next-step {
  position: relative;
  width: 230px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: transparent;
  background-color: #ffd74b;
  color: #161c35;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;

  &__svg {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 285px;
    height: 81px;
    margin-left: 45px;

    &__svg {
      position: absolute;
      display: block;
      right: 30px;
      top: 35px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    margin-bottom: 60px;
  }
}

.countries {
  position: relative;
  width: 168px;
  height: 40px;
  border: 1px solid #cbced9;
  margin-left: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  z-index: 8;

  &__second {
    width: 220px;

    &--grey {
      background-color: #edeff6;
      border: 1px solid #edeff6;
    }
  }

  &--step-three {
    border: none;
    text-transform: none;
  }

  @media (min-width: @tablet-width) {
    width: 390px;
    margin-left: 45px;

    &--step-three {
      font-size: 30px;
      font-weight: bold;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    width: 730px;
    height: 70px;
    font-size: 20px;

    &--step-three {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }
}

.countries__down {
  position: relative;
  border: transparent;
  background-color: #ffffff;
  margin-left: -35px;
  cursor: pointer;
  z-index: 8;

  @media (min-width: @desktop-width) {
    margin-left: -55px;
  }
}

.countries__button {
  fill: #c6c5c5;

  @media (min-width: @desktop-width) {
    width: 25px;
    height: 10px;
  }
}

.countries-window {
  width: 51px;
  height: 38px;
  border: 1px solid #cbced9;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 25px;
  margin-top: -60px;
  margin-bottom: 20px;

  &--step-three {
    border: none;
    margin-bottom: 5px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 90px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 170px;
    margin-top: -83px;

    &--step-three {
      margin-top: -45px;
    }
  }
}

.countries-flag {
  width: 56px;
  height: 45px;
  margin-left: 2px;
  margin-top: 6px;

  @media (min-width: @tablet-width) {
    width: 66px;
    height: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 90px;
    height: 90px;
  }
}

.countries-close {
  display: block;
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  background-color: #edeff6;
  border: transparent;
  margin-left: auto;
  margin-right: 15px;
  margin-top: -72px;
  cursor: pointer;
  z-index: 10;

  &__svg {
    fill: #abacb2;
    padding-bottom: 1px;
  }

  &--three-none {
    display: none;
  }


  @media (min-width: @tablet-width) {
    background-color: transparent;
    margin-top: -50px;
    margin-right: 21px;
    width: 27px;
    height: 27px;

    &__svg {
      width: 18px;
      height: 18px;
      padding-right: 4px;
      padding-top: 3px;
    }

    &--three-none {
      display: block;
    }

    &--three {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 137px;
    margin-top: -65px;
  }
}

.countries-circle {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: 74px;
  margin-top: 7px;
  margin-bottom: 54px;
  z-index: 10;

  &--blue {
    background-color: #1d2e5b;
  }

  &--grey {
    background-color: #ffffff;
    border: 1px solid #cdd0db;
  }

  &--background {
    background-color: #edeff6;
    margin-top: -44px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 154px;
    margin-top: -12px;

    &--background {
      margin-top: -44px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 29.35%;
    margin-top: -61px;
    width: 15px;
    height: 15px;
  }
}

.step-two-plus {
  border: transparent;
  background-color: #edeff6;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: 35px;
  margin-top: -68px;
  margin-bottom: 40px;
  cursor: pointer;
  z-index: 10;

  @media (min-width: @tablet-width) {
    margin-right: 220px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -73px;
    margin-right: 450px;
    margin-bottom: 80px;
  }
}

.step-two-svg {
  fill: #c2c4c9;
}

.step-back {
  margin-left: 80px;
  margin-top: 20px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #161c35;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-transform: none;
  }
}

.step-back-svg {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-left: 66px;
    margin-right: -54px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40%;
  }
}

.step-textarea {
  position: absolute;
  top: 225px;
  margin-left: 25px;
  border-radius: 3px;
  border: 0.5px solid #c7c7c7;
  color: #c7c7c7;
  padding-right: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    top: 265px;
    height: 130px;
    margin-left: 57px;
    width: 437px;
    padding-left: 20px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    top: 312px;
    height: 130px;
    margin-left: 160px;
    width: 730px;
  }
}

.step-textarea-second {
  margin-left: 25px;
  padding-left: 25px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  border: 0.5px solid #c7c7c7;

  @media (min-width: @tablet-width) {
    height: 142px;
    margin-left: 57px;
    width: 355px;
    margin-top: 20px;
    padding-right: 88px;
  }

  @media (min-width: @desktop-width) {
    width: 654px;
    height: 122px;
    margin-left: 160px;
    padding-top: 20px;
  }
}

.circle-step {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #161c35;
  margin-left: 19px;

  &--up {
    margin-top: -25px;
  }

  &--down {
    margin-top: -4px;
    margin-bottom: -23px;
  }

  @media (min-width: @tablet-width) {
    width: 15px;
    height: 15px;
    margin-left: auto;

    &--up {
      margin-top: -29px;
      margin-right: 50px;
    }

    &--down {
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }

  @media (min-width: @desktop-width) {
    &--up {
      margin-top: -29px;
      margin-right: 26%;
    }

    &--down {
      margin-bottom: -40px;
      margin-right: 26%
    }
  }
}

.horizontal-line-up {
  width: 15px;
  height: 2px;
  background-color: #161c35;
  margin-top: -4px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.vertical-line-step {
  width: 2px;
  height: 281px;
  background-color: #161c35;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    height: 200px;
    margin-right: 56px;
  }

  @media (min-width: @desktop-width) {
    height: 263px;
    margin-right: 350px;
  }
}

.horizontal-line-down {
  width: 15px;
  height: 2px;
  background-color: #161c35;
  margin-top: -2px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.button-step {
  width: 230px;
  height: 40px;
  background-color: #ffd74b;
  color: #161c35;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: transparent;
  border-radius: 25px;

  &__svg {
    display: none;
  }

  @media (min-width: @tablet-width) {
    height: 80px;
    margin-left: 53px;
    margin-top: 45px;

    &__svg {
      display: inline-block;
      margin-right: -31px;
      margin-left: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    margin-bottom: 80px;
  }
}
